body{
background-color: #000;
}

#t0{
background-color: #FFF;
width: 80%;
height: 80%;
position: absolute;
top: 0;
left: 0;
}

#t1{
background-color: #EEF;
width: 20%;
height: 80%;
position: absolute;
top: 0;
right: 0;
}

#t2{
background-color: #EEE;
width: 100%;
height: 20%;
position: absolute;
bottom: 0;
left:0;
font-size: 9px;
}

#tb0{
width: 100%;
text-align: center;
font-size: 9px;
}
